/*css for main conianer of user list*/
.container{
  background-color: rgb(238, 247, 246);
  width: 50%;
  height: 80vh;
  margin:0 auto;
  margin-top: 32px;
  padding : 32px;
  box-shadow: -3px -3px 7px rgb(248, 252, 251) ,3px 3px 5px rgb(207, 212, 211);
  border-radius: 12px;
}


.list-container{
  background-color: rgb(238, 247, 246);
  box-shadow: -3px -3px 7px rgb(248, 252, 251) ,3px 3px 5px rgb(207, 212, 211);
  padding:5px 25px 5px;
  margin-bottom: 12px;
  border-radius: 12px;
  width: 92%;
  transition:0.3s ease;


}

.list-container:hover{
  width: 85%;
  color:rgb(141, 92, 1) !important;
}

.list-main-container{
  padding:12px;
  height: 90%;
  overflow-y: auto;
}


/*height property for Modal*/
.ant-modal-body{
min-height: 60vh;
max-height: 60vh;
}

.modalDiv{
  margin: 0;
  height: 400px;
  max-height: 400px;
  width: 100%;
  overflow: auto;
  border: 3px solid rgb(223, 220, 220);
}

.ant-picker-cell{
  border: 1px solid rgb(223, 220, 220);
}

/*Scroll css*/
::-webkit-scrollbar {
  width: 8px;
  
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgb(248, 252, 251); 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgb(171, 172, 171); 
}
/*end of Scroll*/



/*responsive css*/
/* On screens that are 992px or less, */
@media screen and (max-width: 992px) {
  .container {
    width: 90%;
  }
}

/* On screens that are 600px or less */
@media screen and (max-width: 600px) {
  .container {
    width: 95%;  }
}

/* On screens that are 600px or less */
@media screen and (max-width: 350px) {
  .container {
    width: 100%;
  }
  .list-container{
    width: 100%;
  }
}